.mainBody {
	text-align: center;
}

.mainBody a {
	font-size: 20px;
}

.intro {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.intro a {
    color: white;
    margin-right:15px;
    margin-left:15px;
}