.intro {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.intro a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.general {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.general a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.scoutRequirements {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.scoutRequirements a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.rankRequirements {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.rankRequirements a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.scoutmasterConferences {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.scoutmasterConferences a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.boardsOfReview {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.boardsOfReview a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.meritBadges {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.meritBadges a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.meritBadges p {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.serviceProjects {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.serviceProjects a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}