.intro {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.intro a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.link {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.links a.discription {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.linkContact {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.linkContact a {
    color: lightsteelblue;
    text-decoration: solid;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}