.intro {
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.intro a {
    color: white;
    margin-right:15px;
    margin-left:15px;
    font-size:20px;
}

.patrols_list {
    text-align: center;
}

.patrols_list a {
    color: #404040;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 24px;
}
